:root{
    --background: #e4e9f7;
    --sidebar-color: #fff;
    --primary-color: #ff0000;
    --primary-color-ligth: #f6fsff;
    --toggle-color: #ddd;
    --text-color: #707070;
    --active-color: #d5d2d2;
    --button-color:#ff0000;
    --button-background: #000000;
}
.admin-body{
    height: 100vh;
    width: 100%;
}
body{
    background: var(--active-color);
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    transition: 0.5s;
}
.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height:100%;
    width: 275px;
    padding: 10px 14px;
    background: var(--sidebar-color);
    transition: 0.5s;
    z-index: 100;
    
}

.sidebar .image{
    min-width: 60px;
    display: flex;
    align-items: center;
}

.sidebar .text{
    font-size: 16px;
    font-weight: 500;
    color: var(--text-color);
    transition: 0.5;
    white-space: nowrap;
    opacity: 1;
}

.sidebar li{
    height: 50px;
    margin-top: 10px ;
    list-style: none;
    display: flex;
    align-items: center;
    font-size: 20px;
}

.sidebar li .icon{
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 75px; 
    font-size: 25px;
}

.sidebar li .icon,
.sidebar li .text{
    color: var(--text-color);
    font-size: 20px;
}

.sidebar header{
    position: relative;
}

.sidebar .image-text img{
    width: 50px;
    height: 50px;
    border-radius: 6px;
} 

.sidebar .image-text .image .title{
    font-size: 17px;
    font-weight: 1000;
    color: var(--text-color);
    margin-left: 3px;
}

.sidebar header .image-text{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}  

header .image-text .logo-title{
    display: flex;
    flex-direction: column;
}

.sidebar header .logo-title{
    font-size: 17px;
    font-weight: 600;
    text-align: center;
    margin: 10px 30px;
    color: var(--text-color);
}

.sidebar li a{
    height: 100%;
    display: flex;
    width: 100%;
    align-items: center;
    text-decoration: none;
    transition: .5s;
}   
.sidebar li a:hover{
    background: var(--primary-color);
    color: var(--sidebar-color);
}

.sidebar li a:hover .icon,
.sidebar li a:hover .text{
    color: var(--sidebar-color);
}
.sidebar li a:hover span{
    margin-left: 1rem;
    transition: all 300ms ease;
}
.body.dark.sidebar li a:hover .icon, 
.body.dark.sidebar li a:hover .text{
    color: var(--text-color);
}
.sidebar .menu-bar{
    height: calc(100% - 100px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.home{
    height: 100%;
    width: 100%;
    left: 250px;
    position: relative;
    transition: .75s;
    background: var(--background);
}
.home .text{
    font-size: 20px;
    font-weight: 500;
    color: var(--text-color);
    padding: 8px 50px;
}

/*Home*/
.tabs-admin-home{
    position: relative;
    width: 1500px;
    height: 800px;
    border-radius: 50px;
    box-shadow: 0 0 30px rgba(0,0,0,.5);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
}

.home .tabs-admin-home .home-wrapper{
    position: relative;
    width: 1400px;
    height: 700px;
    background:var(--sidebar-color);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px;
}

/*Reports*/
.tabs-admin-report{
    position: relative;
    width: 1500px;
    height: 800px;
    border-radius: 50px;
    box-shadow: 0 0 30px rgba(0,0,0,.5);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
}

.tabs-admin-report .home-wrapper{
    position: relative;
    width: 1400px;
    height: 700px;
    background:var(--sidebar-color);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px;
}

/*Accounts*/
.tabs-admin-account{
    position: relative;
    width: 1500px;
    height: 800px;
    border-radius: 50px;
    box-shadow: 0 0 30px rgba(0,0,0,.5);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
}

.home .tabs-admin-account .home-wrapper{
    position: relative;
    width: 1400px;
    height: 700px;
    background:var(--sidebar-color);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px;
}
.home .tabs-admin-account .home-wrapper .create-account{
    position: relative;
    width: 1200px;
    height: 600px;
    background: var(--background);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px;
    cursor: pointer; 
    
}

.home .tabs-admin-account .home-wrapper .profile-info {
    text-align:center;
    margin: 10px 0 15px;
    color: var(--text-color);
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 35px;

}
.home .tabs-admin-account.home-wrapper .profile-info .account-wrapper{
    width: 600px;
    height: 500px;
    background: var(--active-color);
    margin: 60px;
    border: var(--button-background);
    border-radius: 10px;
}
.home .tabs-admin-account .home-wrapper .profile-info .account-wrapper .title{
    font-size: 25px;
    color: var(--button-background);
    margin-top: 20px;
}

.home .tabs-admin-account .home-wrapper .profile-info .account-wrapper .subtext{
    font-size: 20px;
    color: var(--text-color);
    margin-top: 10px;
}
.two-forms{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.home .tabs-admin-account .home-wrapper .profile-info .account-wrapper .edit-account{
    width: 50%;
    height: 50px;
    border: none;
    outline: none;
    background: black;
    border-radius: 40px;
    font-size: 18px;
    color: #fff;
    cursor: pointer;
    font-weight: 700;
    margin-top: 15px;
}


/*Profile*/
.tabs-admin-profile{
    position: relative;
    width: 1500px;
    height: 800px;
    border-radius: 50px;
    box-shadow: 0 0 30px rgba(0,0,0,.5);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
}
.home .tabs-admin-profile .home-wrapper{
    position: relative;
    width: 1400px;
    height: 700px;
    background:var(--sidebar-color);
    margin: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home .tabs-admin-profile .home-wrapper .profile-info {
    text-align:center;
    margin: 10px 0 15px;
    color: var(--text-color);
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 35px;

}
.home .tabs-admin-profile .home-wrapper .profile-info .account-wrapper{
    width: 800px;
    height: 500px;
    background: var(--active-color);
    margin: 60px;
    border: var(--button-background);
    border-radius: 10px;
}
.home .tabs-admin-profile .home-wrapper .profile-info .account-wrapper .title{
    font-size: 25px;
    color: var(--button-background);
    margin-top: 20px;
}

.home .tabs-admin-profile .home-wrapper .profile-info .account-wrapper .subtext{
    font-size: 20px;
    color: var(--text-color);
    margin-top: 10px;
}
.two-forms{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.home .tabs-admin-profile .home-wrapper .profile-info .account-wrapper .edit-account{
    width: 50%;
    height: 50px;
    border: none;
    outline: none;
    background: black;
    border-radius: 40px;
    font-size: 18px;
    color: #fff;
    cursor: pointer;
    font-weight: 700;
    margin-top: 15px;
}

/*Edit Profile*/
.inputbox input{
    width: 100%;
    height: 50px;   
    outline: none;
    background: var(--sidebar-color);
    padding: 0 15px;
    font-size: 18px;
    color: var(--button-background);
    border-radius: 40px;
    margin-top: 15px;
}

.inputbox input::placeholder{
    color: var(--active-color);
}

.home  .home-wrapper .account-wrapper .inputbox .text{
    font-size: 10px;
    color: var(--text-color);
    margin-top: 0px;
}

.home  .home-wrapper .account-wrapper .inputbox .text{
    font-size: 10px;
    color: var(--text-color);
    margin-top: 0px;
}